.vs/GemsWebApp/DesignTimeBuild/.dtbcache.v2
.vs/GemsWebApp/FileContentIndex/314d5402-9e8c-4401-a77b-d6cd0c79d131.vsidx
.vs/GemsWebApp/FileContentIndex/bb3442e2-9cb4-4e57-91b4-68c19116b576.vsidx
.vs/GemsWebApp/FileContentIndex/e7c0d29d-be34-4763-a9b9-d1061a484b76.vsidx
.vs/GemsWebApp/FileContentIndex/efef26a0-444f-4da9-a1a8-f19549177fa3.vsidx
.vs/GemsWebApp/FileContentIndex/read.lock
.vs/GemsWebApp/config/applicationhost.config
.vs/GemsWebApp/v17/.futdcache.v2
.vs/GemsWebApp/v17/.suo
.vs/GemsWebApp/v17/fileList.bin
.vs/ProjectEvaluation/gemswebapp.metadata.v5.1
.vs/ProjectEvaluation/gemswebapp.projects.v5.1
GemsWebApp.sln
.vs/GemsWebApp/FileContentIndex/4cacd803-0c6b-4346-a4a9-d568e732b36c.vsidx
.vs/GemsWebApp/FileContentIndex/6b63242c-1e35-44a4-a7dd-4e9a3377322d.vsidx
